

<div class="m-6 ">
    <div class="search h-[50vh] w-full text-black flex justify-center items-center">
        <div class=" border border-gray-300 rounded-lg  focus:border-none bg-white p-2 w-1/2 h-[60px] grid grid-cols-2">
            <div class="flex flex-row w-full border-r-2">
                <div class="flex items-center justify-center">
                    <mat-icon> location_on</mat-icon>
                </div>
                <div class="flex items-center px-2 w-full">
                    <input type="text" class="w-full p-2" placeholder="Location" />
                </div>
            </div>
            <div class="flex flex-row w-full">
                <div class="flex items-center px-2 w-full">
                    <input type="text" class="w-full p-2" placeholder="Search" />
                </div>
                <div class="flex items-center justify-center">
                    <mat-icon>search</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class=" m-6 p-4 bg-gray-100 grid grid-cols-2 ">

    <div>
        <img src="assets/images/expert.jpg" class="rounded-lg h-[400px] w-full" />
    </div>
    <div class=" flex flex-col items-center justify-center text-black px-3">
        <p class="text-2xl text-center"> What Our Team Says</p>
        <p class="text-lg pt-4">World Central Kitchen and their hundreds of restaurant partners continue to feed families impacted by the crisis in Ukraine. Join us as we support these ongoing efforts serving millions of meals in the region.</p>
    </div>

</div> -->

<app-roomsection></app-roomsection>