.search {
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/364/692/large_2x/teenager-boy-room-interior-design-banner-with-bed-workplace-with-desk-and-pc-computer-shelves-and-toys-and-skateboard-vector-cartoon-illustration.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}