<div class=" m-6 ">

    <div class="h-[20vh] w-full p-4 bg-gray-100  flex flex-row items-center text-black">
        <div class="border-r border-black pr-2 flex-0">
            <p class=" text-2xl ">Room Finder <span class="text-bold font-serif">Essentials</span> </p>
            <p class="text-lg">Top Features</p>
        </div>
        <div class="grid grid-cols-4 flex-1">
            <div class="border-r pr-3 flex flex-col items-center justify-center border-black">
                <div>
                    <i class="fa-solid fa-wifi fa-2xl"></i>
                </div>
                <p class="text-2xl pt-2">Free Wifi</p>
            </div>

            <div class="border-r pr-2 flex flex-col items-center justify-center border-black">
                <div>
                    <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i>
                </div>
                <p class="text-2xl pt-2">Maintained Rooms</p>
            </div>

            <div class="border-r pr-2 flex flex-col items-center justify-center border-black">
                <div>
                    <i class="fa-solid fa-couch fa-2xl"></i>
                </div>
                <p class="text-2xl pt-2">Fully Furnished</p>
            </div>

            <div class="flex flex-col items-center justify-center border-black">
                <div>
                    <i class="fa-solid fa-spray-can fa-2xl"></i>
                </div>
                <p class="text-2xl pt-2">Sanitized Rooms</p>
            </div>
        </div>
    </div>

</div>

<div class="text-black m-6">
    <div class="flex flex-row justify-between border-b border-gray-800">
        <div>
            <p class="text-3xl font-bold ">Top Viewed Rooms</p>

        </div>
        <div>
            <button class="p-2 m-2 bg-blue-400 rounded border border-blue-800 focus:bg-blue-600 hover:bg-blue-500 " routerLink="/rooms" >See More</button>
        </div>

    </div>
    <div class="grid grid-cols-2  gap-y-4 p-2">

        <div class="flex flex-row h-[40vh] mx-2 rounded-xl shadow-lg ">
            <div class="  rounded-l-xl h-full w-full hover:scale-125 transition duration-300 ease-in-out relative">

                <img src="assets/images/r11.jpg" class="object-cover h-[40vh] w-full rounded-l-xl" alt="room Image" />
                <span class="absolute z-10 top-2 left-2"> <i class="fa-solid fa-heart fa-2xl text-gray-600 "></i>
                </span>
            </div>
            <div class="  rounded-r-xl w-full pb-2 flex flex-col border bg-blue-200" routerLink="/details">
                <div class="text-lg border-b border-black flex-0">
                    <div class="pl-2">Near Eyeplex, Baneshwor. Fully furnished 1Bhk room.</div>
                </div>
                <div class="flex flex-col py-2 border-b border-black flex-0">
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-location-dot fa-lg"></i>
                        <span class="pl-4">Baneshwor,Near Iplex</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-chair fa-lg"></i>
                        <span class="pl-4">Furnished</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-house "></i>
                        <span class="pl-4">1BHK</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-indian-rupee-sign fa-lg"></i>
                        <span class="pl-4">15000</span>
                    </div>
                </div>
                <div class="flex-1 gap-x-2 flex flex-row justify-start p-2 !pb-0">
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r12.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r13.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div class="flex justify-end items-end w-40 pr-2">
                        See All <span class="pl-2"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row h-[40vh] mx-2 rounded-xl shadow-lg ">
            <div class="  rounded-l-xl h-full w-full hover:scale-125 transition duration-300 ease-in-out relative ">
                <img src="assets/images/r21.jpg" class="object-cover h-[40vh] w-full rounded-l-xl" alt="room Image" />
                <span class="absolute z-10 top-2 left-2"> <i class="fa-solid fa-heart fa-2xl text-gray-600 "></i>
                </span>

            </div>
            <div class="  rounded-r-xl w-full pb-2 flex flex-col border bg-blue-200" routerLink="/details">
                <div class="text-lg border-b border-black flex-0">
                    <div class="pl-2">Near Eyeplex, Baneshwor. Fully furnished 1Bhk room.</div>
                </div>
                <div class="flex flex-col py-2 border-b border-black flex-0">
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-location-dot fa-lg"></i>
                        <span class="pl-4">Baneshwor,Near Iplex</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-chair fa-lg"></i>
                        <span class="pl-4">Furnished</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-house "></i>
                        <span class="pl-4">1BHK</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-indian-rupee-sign fa-lg"></i>
                        <span class="pl-4">15000</span>
                    </div>
                </div>
                <div class="flex-1 gap-x-2 flex flex-row justify-start p-2 !pb-0">
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r22.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r23.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div class="flex justify-end items-end w-40 pr-2">
                        See All <span class="pl-2"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row h-[40vh] mx-2 rounded-xl shadow-lg ">
            <div class="  rounded-l-xl h-full w-full hover:scale-125 transition duration-300 ease-in-out relative">
                <img src="assets/images/r31.jpg" class="object-cover h-[40vh] w-full rounded-l-xl" alt="room Image" />
                <span class="absolute z-10 top-2 left-2"> <i class="fa-solid fa-heart fa-2xl text-gray-600 "></i>
                </span>

            </div>
            <div class="  rounded-r-xl w-full pb-2 flex flex-col border bg-blue-200" routerLink="/details">
                <div class="text-lg border-b border-black flex-0">
                    <div class="pl-2">Near Eyeplex, Baneshwor. Fully furnished 1Bhk room.</div>
                </div>
                <div class="flex flex-col py-2 border-b border-black flex-0">
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-location-dot fa-lg"></i>
                        <span class="pl-4">Baneshwor,Near Iplex</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-chair fa-lg"></i>
                        <span class="pl-4">Furnished</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-house "></i>
                        <span class="pl-4">1BHK</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-indian-rupee-sign fa-lg"></i>
                        <span class="pl-4">15000</span>
                    </div>
                </div>
                <div class="flex-1 gap-x-2 flex flex-row justify-start p-2 !pb-0">
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r32.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r33.webp" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div class="flex justify-end items-end w-40 pr-2">
                        See All <span class="pl-2"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row h-[40vh] mx-2 rounded-xl shadow-lg ">
            <div class="  rounded-l-xl h-full w-full hover:scale-125 transition duration-300 ease-in-out relative">
                <img src="assets/images/r41.jpg" class="object-cover h-[40vh] w-full rounded-l-xl" alt="room Image" />
                <span class="absolute z-10 top-2 left-2"> <i class="fa-solid fa-heart fa-2xl text-gray-600 "></i>
                </span>

            </div>
            <div class="  rounded-r-xl w-full pb-2 flex flex-col border bg-blue-200" routerLink="/details">
                <div class="text-lg border-b border-black flex-0">
                    <div class="pl-2">Near Eyeplex, Baneshwor. Fully furnished 1Bhk room.</div>
                </div>
                <div class="flex flex-col py-2 border-b border-black flex-0">
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-location-dot fa-lg"></i>
                        <span class="pl-4">Baneshwor,Near Iplex</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-chair fa-lg"></i>
                        <span class="pl-4">Furnished</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-house "></i>
                        <span class="pl-4">1BHK</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-indian-rupee-sign fa-lg"></i>
                        <span class="pl-4">15000</span>
                    </div>
                </div>
                <div class="flex-1 gap-x-2 flex flex-row justify-start p-2 !pb-0">
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r42.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r43.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div class="flex justify-end items-end w-40 pr-2">
                        See All <span class="pl-2"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="text-black m-6">
    <div class="flex flex-row justify-between border-b border-gray-800">
        <div>
            <p class="text-3xl font-bold ">Our Featured Rooms</p>

        </div>
        <div>
            <button class="p-2 m-2 bg-blue-400 rounded border border-blue-800 focus:bg-blue-600 hover:bg-blue-500 " routerLink="/rooms" >See More</button>
        </div>

    </div>
    <div class="grid grid-cols-2  gap-y-4 p-2">

        <div class="flex flex-row h-[40vh] mx-2 rounded-xl shadow-lg ">
            <div class="  rounded-l-xl h-full w-full hover:scale-125 transition duration-300 ease-in-out relative">

                <img src="assets/images/r11.jpg" class="object-cover h-[40vh] w-full rounded-l-xl" alt="room Image" />
                <span class="absolute z-10 top-2 left-2"> <i class="fa-solid fa-heart fa-2xl text-gray-600 "></i>
                </span>
            </div>
            <div class="  rounded-r-xl w-full pb-2 flex flex-col border bg-blue-200" routerLink="/details">
                <div class="text-lg border-b border-black flex-0">
                    <div class="pl-2">Near Eyeplex, Baneshwor. Fully furnished 1Bhk room.</div>
                </div>
                <div class="flex flex-col py-2 border-b border-black flex-0">
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-location-dot fa-lg"></i>
                        <span class="pl-4">Baneshwor,Near Iplex</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-chair fa-lg"></i>
                        <span class="pl-4">Furnished</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-house "></i>
                        <span class="pl-4">1BHK</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-indian-rupee-sign fa-lg"></i>
                        <span class="pl-4">15000</span>
                    </div>
                </div>
                <div class="flex-1 gap-x-2 flex flex-row justify-start p-2 !pb-0">
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r12.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r13.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div class="flex justify-end items-end w-40 pr-2">
                        See All <span class="pl-2"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row h-[40vh] mx-2 rounded-xl shadow-lg ">
            <div class="  rounded-l-xl h-full w-full hover:scale-125 transition duration-300 ease-in-out relative ">
                <img src="assets/images/r21.jpg" class="object-cover h-[40vh] w-full rounded-l-xl" alt="room Image" />
                <span class="absolute z-10 top-2 left-2"> <i class="fa-solid fa-heart fa-2xl text-gray-600 "></i>
                </span>

            </div>
            <div class="  rounded-r-xl w-full pb-2 flex flex-col border bg-blue-200" routerLink="/details">
                <div class="text-lg border-b border-black flex-0">
                    <div class="pl-2">Near Eyeplex, Baneshwor. Fully furnished 1Bhk room.</div>
                </div>
                <div class="flex flex-col py-2 border-b border-black flex-0">
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-location-dot fa-lg"></i>
                        <span class="pl-4">Baneshwor,Near Iplex</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-chair fa-lg"></i>
                        <span class="pl-4">Furnished</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-house "></i>
                        <span class="pl-4">1BHK</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-indian-rupee-sign fa-lg"></i>
                        <span class="pl-4">15000</span>
                    </div>
                </div>
                <div class="flex-1 gap-x-2 flex flex-row justify-start p-2 !pb-0">
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r22.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r23.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div class="flex justify-end items-end w-40 pr-2">
                        See All <span class="pl-2"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row h-[40vh] mx-2 rounded-xl shadow-lg ">
            <div class="  rounded-l-xl h-full w-full hover:scale-125 transition duration-300 ease-in-out relative">
                <img src="assets/images/r31.jpg" class="object-cover h-[40vh] w-full rounded-l-xl" alt="room Image" />
                <span class="absolute z-10 top-2 left-2"> <i class="fa-solid fa-heart fa-2xl text-gray-600 "></i>
                </span>

            </div>
            <div class="  rounded-r-xl w-full pb-2 flex flex-col border bg-blue-200" routerLink="/details">
                <div class="text-lg border-b border-black flex-0">
                    <div class="pl-2">Near Eyeplex, Baneshwor. Fully furnished 1Bhk room.</div>
                </div>
                <div class="flex flex-col py-2 border-b border-black flex-0">
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-location-dot fa-lg"></i>
                        <span class="pl-4">Baneshwor,Near Iplex</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-chair fa-lg"></i>
                        <span class="pl-4">Furnished</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-house "></i>
                        <span class="pl-4">1BHK</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-indian-rupee-sign fa-lg"></i>
                        <span class="pl-4">15000</span>
                    </div>
                </div>
                <div class="flex-1 gap-x-2 flex flex-row justify-start p-2 !pb-0">
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r32.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r33.webp" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div class="flex justify-end items-end w-40 pr-2">
                        See All <span class="pl-2"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row h-[40vh] mx-2 rounded-xl shadow-lg ">
            <div class="  rounded-l-xl h-full w-full hover:scale-125 transition duration-300 ease-in-out relative">
                <img src="assets/images/r41.jpg" class="object-cover h-[40vh] w-full rounded-l-xl" alt="room Image" />
                <span class="absolute z-10 top-2 left-2"> <i class="fa-solid fa-heart fa-2xl text-gray-600 "></i>
                </span>

            </div>
            <div class="  rounded-r-xl w-full pb-2 flex flex-col border bg-blue-200" routerLink="/details">
                <div class="text-lg border-b border-black flex-0">
                    <div class="pl-2">Near Eyeplex, Baneshwor. Fully furnished 1Bhk room.</div>
                </div>
                <div class="flex flex-col py-2 border-b border-black flex-0">
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-location-dot fa-lg"></i>
                        <span class="pl-4">Baneshwor,Near Iplex</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-chair fa-lg"></i>
                        <span class="pl-4">Furnished</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-house "></i>
                        <span class="pl-4">1BHK</span>
                    </div>
                    <div class="flex flex-row items-center pb-1 pl-1">
                        <i class="fa-solid fa-indian-rupee-sign fa-lg"></i>
                        <span class="pl-4">15000</span>
                    </div>
                </div>
                <div class="flex-1 gap-x-2 flex flex-row justify-start p-2 !pb-0">
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r42.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div
                        class=" h-full w-20 rounded-xl border border-gray-800 hover:scale-150 transition duration-300 ease-in-out">
                        <img src="assets/images/r43.jpg" class="object-cover h-full w-full rounded-xl" />
                    </div>
                    <div class="flex justify-end items-end w-40 pr-2">
                        See All <span class="pl-2"><i class="fa-solid fa-arrow-right fa-lg"></i></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>